@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
html,
body {
  min-height: 100dvh;
  width: 100%;
}

@theme {
  --font-merriweather: "Merriweather", serif;
  --font-openSans: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  /* font-variation-settings: "wdth" 100; */
  font-display: swap;

  src:
    url("/fonts/Merriweather,Open_Sans (1)/Merriweather/Merriweather-Light.woff2")
      format("woff2"),
    url("/fonts/Merriweather,Open_Sans (1)/Merriweather/Merriweather-Light.woff")
      format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: italic;
  /* font-variation-settings: "wdth" 100; */
  font-display: swap;

  src:
    url("/fonts/Merriweather,Open_Sans (1)/Merriweather/Merriweather-LightItalic.woff2")
      format("woff2"),
    url("/fonts/Merriweather,Open_Sans (1)/Merriweather/Merriweather-LightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  /* font-optical-sizing: auto; */
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Merriweather,Open_Sans (1)/Open_Sans/OpenSans-Regular.woff2")
      format("woff2"),
    url("/fonts/Merriweather,Open_Sans (1)/Open_Sans/OpenSans-Regular.woff")
      format("woff");
  /* font-variation-settings: "wdth" 100; */
}
@font-face {
  font-family: "Open Sans";
  /* font-optical-sizing: auto; */
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: italic;
  font-display: swap;
  src:
    url("/fonts/Merriweather,Open_Sans (1)/Open_Sans/OpenSans-Italic.woff2")
      format("woff2"),
    url("/fonts/Merriweather,Open_Sans (1)/Open_Sans/OpenSans-Italic.woff")
      format("woff"); /* font-variation-settings: "wdth" 100; */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: hsl(36 36 95);
  --foreground: hsl(36 19 40);
  --card: hsl(36 40 88);
  --card-foreground: hsl(36 19 40);
  --popover: hsl(36 19 40);
  --popover-foreground: hsl(36 36 95);
  --primary: hsl(220 29 39);
  --primary-foreground: hsl(36 36 95);
  --secondary: hsl(30 30 80);
  --secondary-foreground: hsl(36 19 40);
  --muted: hsl(0.97 0 0);
  --muted-foreground: hsl(0.556 0 0);
  --accent: hsl(0.97 0 0);
  --accent-foreground: hsl(0.205 0 0);
  --destructive: hsl(0.577 0.245 27.325);
  --border: hsl(36 19 40);
  --input: hsl(220 29 39);
  --ring: hsl(0.708 0 0);
  --chart-1: hsl(0.646 0.222 41.116);
  --chart-2: hsl(0.6 0.118 184.704);
  --chart-3: hsl(0.398 0.07 227.392);
  --chart-4: hsl(0.828 0.189 84.429);
  --chart-5: hsl(0.769 0.188 70.08);
  --sidebar: hsl(0.985 0 0);
  --sidebar-foreground: hsl(0.145 0 0);
  --sidebar-primary: hsl(0.205 0 0);
  --sidebar-primary-foreground: hsl(0.985 0 0);
  --sidebar-accent: hsl(0.97 0 0);
  --sidebar-accent-foreground: hsl(0.205 0 0);
  --sidebar-border: hsl(0.922 0 0);
  --sidebar-ring: hsl(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
